* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::before {
    position: fixed;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: beige;
    z-index: -1;
    opacity: .20;
    background-image: url(img/vintage.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    object-fit: cover;

}

img {
    max-width: 100%;
}

hr {
    margin: 0 auto;
    border-top: 1px solid rgb(0, 0, 0);
    width: 95%;
}


/* <=============NAVBAR=============> */

.navbar {
    /* background-image: url(img/pexels-photo-3968175.jpeg); */
    background-color: rgba(161, 135, 135, 0.4);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
}

.navbar-brand {
    margin-left: 1rem;
    width: 60px;
    padding: 0;
}

.nav-social {
    margin-right: 1rem;
}

.nav-social a {
    margin-right: .75rem;
    font-size: 25px;
    color: rgba(66, 59, 59, 0.784);
}

.nav-social a:hover {
    color: rgba(255, 255, 255, 0.784);
}

.nav-item {
    margin-right: 1rem;
    border: 1px solid rgb(153, 148, 148);
}

.nav-link {
    position: relative;
    padding: 0;
}

.nav-link:hover {
    color: aliceblue
}

.dropdown-menu {
    background-color: rgba(161, 135, 135, 0.5);
}


.about-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
             'mission missions'
             'visions vision ';
    height: 100vh;
    align-items: center;
}
.about-grid h1{
    font-size: 100px;
    font-family: 'Mouse Memoirs';

}
.about-grid p{
    font-size: 20px;
    padding: 2rem;
    color: rgb(255, 255, 255);
    border-top: solid gold 1px;
    border-bottom: solid gold 1px;
}
.about-grid .mission{
    grid-area: mission;
    position: relative;
    justify-content: center;
    text-align: justify;
}

.about-grid .mission::before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 300px;
    transform: translateY(-40px);
    background-color: rgba(0, 0, 0, 1); 
    z-index: -1;
}
.about-grid .missions {
    grid-area: missions;
    position: relative;
    justify-content: center;
    margin: 0 auto;
    display: inline;
}

.about-grid .vision {
    grid-area: vision;
    position: relative;
    justify-content: center;
    text-align: justify;
    margin: 0 auto;
}

.about-grid .vision::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 300px;
    transform: translateY(-40px);
    background-color: rgba(0, 0, 0, 1);
    z-index: -1;
}
.about-grid .visions {
    grid-area: visions;
    position: relative;
    justify-content: center;
    margin: 0 auto;
    display: inline;
}







/* <=======FOOTER=========> */

footer {
    margin-bottom: 10px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'logoimg social list';
    grid-gap: 1rem;
    align-items: center;
    margin-left: 3rem;
}

.logoimg {
    grid-area: logoimg;
}

.list {
    display: flex;
    grid-area: list;
    gap: 10px;
    align-items: center;
}

.list a {
    text-decoration: none;
    color: #000000;
    position: relative;
    transition: transform 500ms ease-in-out;
}

.list a h1 {
    font-size: 20px;
}

.list a::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transform: scaleX(0);
    transition: transform 500ms ease-in-out;
    transform-origin: left;
}

.list a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.list a:hover {
    color: rgb(255, 164, 36);
}

.list a h2 {
    font-size: 20px;
    font-family: Gabarito;
}

.social {
    display: flex;
    grid-area: social;
    align-items: center;
    gap: .95rem;
}

.social a {
    margin-right: .75rem;
    font-size: 23px;
    color: rgba(0, 0, 0, 0.784);
    transition: 300ms ease-in-out;
}

.social a:hover {
    color: rgb(255, 164, 36);
    transition: 300ms ease-in-out;
}




@media only screen and (max-width: 1024px){
    .about-grid p{
    font-size: 20px;
    padding: 1rem;
    line-height: 1.6rem;
    }
}
@media only screen and (max-width: 768px) {
    .about-grid p {
        font-size: 15px;
        padding: 1rem;
        line-height: .95rem;
    }
    .about-grid .mission::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 225px;
        transform: translateY(-40px);
        background-color: rgba(0, 0, 0, 1);
        z-index: -1;
    }
    .about-grid .vision::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 225px;
        transform: translateY(-40px);
        background-color: rgba(0, 0, 0, 1);
        z-index: -1;
    }
    .social {
        display: flex;
        font-size: 25px;
        justify-content: center;
        align-items: center;
    }

    .social a {
        font-size: 25px;
        padding: 0 20px 0 20px
    }
    .footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'logoimg social list';
        grid-gap: 1rem;
        align-items: center;
    }
    .logoimg span{
        font-size: 18px;
    }
        
}

@media only screen and (max-width: 679px){
    .about-grid p {
        font-size: 15px;
        padding: 1rem;
        line-height: .95rem;
        text-align:start;
    }

    .about-grid .mission::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 285px;
        transform: translateY(-10px);
        background-color: rgba(0, 0, 0, 1);
        z-index: -1;
    }

    .about-grid .vision::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 270px;
        transform: translateY(-10px);
        background-color: rgba(0, 0, 0, 1);
        z-index: -1;
    }
    .social a {
        font-size: 25px;
        padding: 0 10px 0 10px
    }
    .footer-grid {
        margin: 0;
        display: grid;
        grid-template-columns: .95fr;
        grid-template-areas:
            'logoimg'
            'list'
            'social';
        /* align-items: center; */
    }
    .list a h1 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 426px){
    .about-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'missions'
            'mission'
            'visions'
            'vision';
        height: fit-content;
    }
    
    .about-grid .mission::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 160px;
        transform: translateY(-10px);
        background-color: rgba(0, 0, 0, 1);
        z-index: -1;
    }

    .about-grid .vision::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 150px;
        transform: translateY(-10px);
        background-color: rgba(0, 0, 0, 1);
        z-index: -1;
    }
}


@media only screen and (max-width: 320px){
    .about-grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas:
             'missions'   
             'mission'
            'visions'
             'vision';
             height: fit-content;
    }
    .about-grid .mission::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 200px;
        transform: translateY(-10px);
        background-color: rgba(0, 0, 0, 1);
        z-index: -1;
    }
    .about-grid .vision::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 180px;
        transform: translateY(-10px);
        background-color: rgba(0, 0, 0, 1);
        z-index: -1;
    }




    .footer-grid {
            margin: 0;
            grid-template-columns: 1fr;
            grid-template-areas:
                'logoimg'
                'list'
                'social';
            grid-gap: .5rem;
    }
}