* {
    padding: 0;
    margin: 0;
    font-family: Gabarito;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

.house-model {
    position: relative;
    min-height: fit-content;
    min-width: 100%;
    background-color: antiquewhite;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.house-model .developer-name{
    text-align: center;
    padding: 3rem;
    
}
.house-model .developer-name h1{
    display: inline;
    color:teal;
    background-color: rgb(240, 176, 122);

    padding: 10px;
}

.amaia-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .75rem;
    
}
.card-img{
    width: 600px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.card-body{
    padding:0;
}

.cont-carousels {
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 95vh;
    padding: 30px;
    background-image: url('img/family2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.calmar-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .75rem;
}