* {
    padding: 0;
    margin: 0;
    font-family: Gabarito;
    box-sizing: border-box;
}

body::before {
    position: fixed;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: beige;
    z-index: -1;
    opacity: .20;
    background-image: url(img/vintage.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    object-fit: cover;

}


img {
    max-width: 100%;
}

hr {
    margin: 0 auto;
    border-top: 1px solid rgb(0, 0, 0);
    width: 95%;
}
.navbar {
    /* background-image: url(img/pexels-photo-3968175.jpeg); */
    background-color: rgba(161, 135, 135, 0.4);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
}

.navbar-brand {
    margin-left: 1rem;
    width: 60px;
    padding: 0;
}

.nav-social {
    margin-right: 1rem;
}

.nav-social a {
    margin-right: .75rem;
    font-size: 25px;
    color: rgba(66, 59, 59, 0.784);
}

.nav-social a:hover {
    color: rgba(255, 255, 255, 0.784);
}

.nav-item {
    margin-right: 1rem;
    border: 1px solid rgb(153, 148, 148);
}

.nav-link {
    padding: 0;
}

.nav-link:hover {
    color: aliceblue
}

.dropdown-menu {
    background-color: rgba(161, 135, 135, 0.5);
}




.grid{
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: repeat(8, .75fr);
    grid-template-areas: 
            'menu mdl1 mdl1'
            'menu2 mdl2 mdl2'
            'menu2 mdl3 mdl3'
            '.  mdl4 mdl4'
            '.  mdl5 mdl5'
            '.  mdl6 mdl6'
            '.  mdl7 mdl7'
            '.  mdl8 mdl8';
    /* grid-gap: 1.5rem; */
    grid-column-gap: 1rem;
}
.menu{
    grid-area: menu;
    border: 1px solid gray;
    background-color: aliceblue;
    box-shadow: 5px 5px 5px 5px rgba(77, 77, 77, 0.516);
    padding: 1rem;
    height: fit-content;
}
.menu h2{
    font-family: Gabarito;
    font-size: 25px;
}
.menu a{
    text-decoration: none;
}
.menu a:hover{
    text-decoration: underline;
    color: black;
}
.menu li{
    list-style: none;
    color:black
}
.menu2{
    grid-area: menu2;
    margin-top:1rem;
   
}
.house-img img{
    box-shadow: 5px 5px 5px 5px rgba(77, 77, 77, 0.516);
    width: 400px;
    height: auto;
}
.mdl1{
    grid-area: mdl1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1rem 0 1rem;
}
.mdl2 {
    grid-area: mdl2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1rem 0 1rem;
}
.mdl2 img{
    aspect-ratio: 1/.75;
}
.mdl3 {
    grid-area: mdl3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1rem 0 1rem;
}
.mdl4 {
    grid-area: mdl4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1rem 0 1rem;
}
.mdl5 {
    grid-area: mdl5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1rem 0 1rem;
}
.mdl6 {
    grid-area: mdl6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1rem 0 1rem;
}
.mdl7 {
    grid-area: mdl7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1rem 0 1rem;
}
.mdl8 {
    grid-area: mdl8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1rem 0 1rem;
}
.description .btn {
    position: relative;
    transition: 500ms ease-in-out;
    border: 1px solid black;
}

.description .btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #b5a173;
    z-index: -1;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.description .btn:hover:before,
.description .btn:focus:before {
    transform: scaleX(1);

}
.description a:hover {
   color: rgb(45, 42, 42);

}


/* ========= FOOTER ========== */

footer {
    /* background-color: #16697A; */
    padding: 1rem;

}

.footer-grid {
    display: grid;
    grid-template-columns: .25fr 1fr;
    grid-gap: 2rem;
    align-items: center;
    margin-left: 3rem;
}

.list {
    gap: 2rem;
    align-items: center;
}

.list a {
    text-decoration: none;
    color: #000000;
    position: relative;
    transition: transform 500ms ease-in-out;
}

.list a::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: rgba(85, 85, 65, 0.523); */
    z-index: -1;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transform: scaleX(0);
    transition: transform 500ms ease-in-out;
    transform-origin: left;
}

.list a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.list a:hover {
    color: rgb(255, 164, 36);
}

.list a h2 {
    font-size: 20px;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .95rem;
}

.social a {
    margin-right: .75rem;
    font-size: 23px;
    color: rgba(0, 0, 0, 0.784);
}

.social a:hover {
    color: rgb(255, 164, 36);
}

.footer-grid dd a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.footer-grid dd a:hover {
    color: black;
    text-decoration: underline;

}

.logoimg {
    display: block;
}

.footer-grid .list {
    display: flex;

}




@media only screen and (max-width: 768px){
    .grid{
        grid-template-columns:1fr;
        grid-template-rows: repeat(5,);
        grid-template-areas:
            /* 'menu menu menu' */
            'mdl1 mdl1 md1'
            'mdl2 mdl2 mdl2'
            'mdl3 mdl3 mdl3'
            'mdl4 mdl4 mdl4'
            'mdl5 mdl5 mdl5'
            'mdl6 mdl6 mdl6'
            'mdl7 mdl7 mdl7'
            'mdl8 mdl8 mdl8';
        grid-gap: 0;
        grid-column-gap: 0;
        height: fit-content;
    }
    .menu{
        display: none;
    }
    .menu2{
        display: none;
    }
    .house-img{
        padding: 1rem;
    }
    .house-img img{
        width: 400px;
    }
    .description{
        padding: 1rem;
    }

}
@media only screen and (max-width: 500px){
    .grid {
    grid-template-columns: 1fr;
    grid-gap: 0;
    }
    .mdl{
       display: block;
    }


