*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100%;
}
img{
    width: 100%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: auto;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    text-align: center;
}
.form-popup{
    display: flex;
    justify-content: space-between;
}

.form-content-login{
    height: fit-content;
    border-radius: 0;
    border: #717171 2px solid;
    padding: 1rem;
    width: 75%;
}

.form-content-login h1{
    font-size: 20px;
    text-transform:capitalize;
    font-family: sans-serif;
}

.form-box .form-content{
    width: 100%;
    padding:35px;
    border: #4a4646 solid 1px;  
}

.form-box h2{
    text-align: center;
    margin-bottom: 29px;
}









form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.input-field input{
    height: 100%;
    width: 100%;
    background: none;
    font-size: 0.95rem;
    border: 1px solid #717171;
    border-radius: 10px;
}
.input-field input:focus{
    border: 1px solid #00bcd4;
}

.input-field label{
    position: absolute;
    top: 50%;
    right: 15px;
    /* left: 15px; */
    transform: translateY(-50%);
    color: #4a4646;
    pointer-events: none;
    transition: 0.2s ease;
}

.input-field input:is(:focus, :valid){
    padding: 16px 15px 16px;
}

.form-content-login a {
    color: #00bcd4;
    text-decoration: none;  
}
.form-content-login a:hover{
    text-decoration: underline;
}

form :where(.forgot-pass-link, .policy-text){
    display: inline-flex;
    margin-top: 13px;
    font-size: 0.85em;
}

form button{
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 14px 0;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin: 25px 0;
    background: #00bcd4;
    transition: 0.2 ease;
    border-radius: 3rem;
}



@media only screen and (max-width: 768px){
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .form-content-login{
        height: fit-content;
        border-radius: 0;
        border: #717171 2px solid;
        padding: 1rem;
        width: 100%;

    }
}