*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mouse Memoir;
}

body{
    background-color: rgba(225, 225, 204, 0.282);
}

img{
    max-width: 100%;
}

.navbar{
    background-color: #16697A;
}

.container1{
    background-color: antiquewhite;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width:  100rem;
    margin-inline: auto;
    padding-inline: 2rem;
    height: fit-content;
}
.item-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.home{
    margin: auto 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.home .dream{
    font-family: Pacifico;
    font-size: 45px;
}

.card_img{
    margin: 0 auto;
}
.card__img{
    width: 600px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}


.cont-carousel {
    height: 80vh;
    width: 100%;
    padding: 30px;
}
.carousel {
    justify-content: center;
    margin: 0 auto;
    display: inline;
    height: fit-content;
    width: fit-content;
}
.carousel .carousels {
    margin: 0 auto;
    max-width: 500px
}
.carousel .carousels img {
    margin: 0 auto;
    width: 100%;
}
.section1 {
    display: block;
    position: relative;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
.block1 .intro {
    padding: 10px;
}

.block1 #title {
    font-family: Pacifico;
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
}
.block1 #sub {
    font-family: Pacifico;
    text-align: center;
    font-size: 35px;
    padding-top: 10px;
}

.block1 .row p {
    font-family: Pacifico;
    text-align: center;
    font-size: 20px;
    color: #000000
}

/* Developer */
.dev-container{
    border: solid black 2px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 100rem;
}

.heading h1{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}
.dev h1{
    font-size: 40px;
    font-weight: bold;
}
.grid-developer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.developer{
    align-items: center;
    text-align: center;
}
.developer h1{
   font-size: 35px;
   font-weight: bold;
}







/* MODEL HOUSE */
.mod-container{
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: 100px auto;
    background-color: rgba(239, 240, 227, 0.2);
}

.mdlhouse{
    text-align: center;
}

.model-container{
    
}

.model-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: .75rem;
}
.card{
    text-align: center;
    padding: 5px;
}
.card-body a:hover{
    margin: 5px;
}




footer{
    background-color: #16697A;
    padding:1rem;
    
}
.footer-grid {
    display: grid;
    grid-template-columns: .25fr 1fr .35fr;
    justify-content: space-between;
}
.social{
    display: flex;
    font-size: 35px;
    justify-content: space-around;
    align-items: center;

}

.footer-grid dd a{
    color:white
}
.footer-grid dd a:hover{
    color: black
}
.footer-grid .logoimg{
    display: flex;
    justify-content: space-around;
    align-items: center;
}




@media only screen and (max-width: 768px) {
    .home .dream {
            font-size: 25px;
        }
    .block1 #title {
            font-size: 45px;
        }
    .model-grid {
        grid-template-columns: 1fr;
    }
    .footer-grid {
        grid-template-columns: 1fr;
    }
    .grid-developer{
        grid-template-columns: 1fr;
    }

   
}
@media only screen and (max-width: 500px) {
    .home .dream {
        font-size: 20px;
        }
    .block1 #title {
        font-size: 20px;
    }
    .block1 #sub {
        font-family: Pacifico;
        text-align: center;
        font-size: 15px;
        padding-top: 10px;
    }

    .block1 .row p {
        font-family: Pacifico;
        text-align: center;
        font-size: 10px;
        color: #000000
    }

}
